
<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
	</div>
	<% end %>


	<h1>User info</h1>

	<table class="table">
		<tr>
			<%= attachment_image_tag user, :profile_image, :fill, 100, 100 ,fallback: "noimage.png",size:'100x100'  %>
		
		</tr>
		<tr>
			<th>name</th><th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduction</th><th><%= user.introduction %></th>
		</tr>
	</table>


<% if user.id == current_user.id %>
	<%= link_to edit_user_path(current_user) do %>
	<span class="glyphicon glyphicon-wrench col-xs-12 btn btn-default" aria-hidden="true"></span>
	<% end %>
<% else %>
	<%= link_to user_path(current_user) do %>
	<span class="glyphicon glyphicon-wrench col-xs-12 btn btn-default" aria-hidden="true"></span>
	<% end %>
<% end %>
<% user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(user) %>">
    <strong id="following" class="stat">
      <%= user.followings.count %>
    </strong>
    フォロー中
  </a>
  <a href="<%= follower_user_path(user) %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>

<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
    <% end %>
  <% end %>
<% end %>
	










	<h1>New book</h1>

	<%= form_for(book) do |f| %>

	<h4>Title</h4>
	<%= f.text_field :title,class:"col-xs-12" %>


	<h4>Opinion</h4>
	<%= f.text_area :body,class:"col-xs-12" %>

	<p><%= f.submit 'Create Book',class:"col-xs-12 bg-primary btn" %></p>

	<% end %>